NODE_ENV=development
PORT=3000

# PostgreSQL local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=deseo_premios
DB_USER=postgres
DB_PASSWORD=cambiar

# PostgreSQL Render
DATABASE_URL=

# Seguridad
JWT_SECRET=coloca_una_clave_larga_y_aleatoria
ADMIN_USER=admin
ADMIN_PASSWORD=cambiar

# Frontend
FRONTEND_URL=http://127.0.0.1:5500
ADMIN_URL=http://127.0.0.1:5500

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
