NODE_ENV=development
PORT=3000

# PostgreSQL local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=deseo_premios
DB_USER=postgres
DB_PASSWORD=cambiar

# PostgreSQL Render
DATABASE_URL=

# Seguridad
JWT_SECRET=coloca_una_clave_larga_y_aleatoria
ADMIN_USER=admin
ADMIN_PASSWORD=cambiar

# Frontend
FRONTEND_URL=http://127.0.0.1:5500
ADMIN_URL=http://127.0.0.1:5500

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


# URL pública del frontend
FRONTEND_PUBLIC_URL=https://deseounpremio.com.pe

# WhatsApp Cloud API
# Nunca subas el token real a GitHub.
WHATSAPP_API_VERSION=v26.0
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TEMPLATE_LANGUAGE=es
WHATSAPP_TEMPLATE_RECIBIDO=comprobante_recibido
WHATSAPP_TEMPLATE_APROBADO=compra_aprobada
WHATSAPP_TEMPLATE_RECHAZADO=comprobante_rechazado
